:root {
    --primary-color: #c03162;
    --secondary-color: #1e091d;
    --tertiary-color: #f29b76;
    --highlight-color: #c4639c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*start body style*/

body {
    background-color: var(--tertiary-color);
}

/*start header style*/

header {
    background-color:var(--secondary-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header div {
    display: flex;
    margin-top: 50px;
    
}

header h1 {
    color:var(--primary-color);
    padding: 25px 25px 0px 25px;
    height: 100px;
    
}

header nav {
    margin-top: 50px;
    margin-right: 20px;
    float:right;
    font-size: 25px;
    padding: 25px 25px 0px 25px;
    height: 100px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 40px;
}

header a {
    text-decoration: none;
    color:var(--primary-color)
}


/* main style start*/

/*hero style start*/

.hero {
    background-image: url("../images/Purple\ and\ Pink\ Sunset.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.hero img {
    height: 100px;
    width: 100px;
}

.hero h2 {
    color:var(--secondary-color);
  
  
    
}

/* content style start*/ 

.content {
    background-color: var(--highlight-color);
    display: flex;
    justify-content: space-around;
    /* column-gap: 5px; */
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 50vh;
    margin: auto;
}

/*about me style start*/

.about {
     background-color: turquoise;
     width: 90%; 
     height: 20%;
}

/*my portfolio style start*/
.portfolio {
    background-color: tomato;
    width: 90%;
    height: 50%;
    justify-content: space-between;
    
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    height: 20px;
}

.projects :first-child {
    width: 85%;
    height: 40px;
    
}

.project-card {
    background-color: green;
    width: 35%;
    height: 60px;
    
}
/*contact info style start*/

.contact {
    background-color: indigo;
    width: 90%;
    height:20% ;
}
/*footer style start*/
footer {
    background-color: var(--secondary-color);
    height:100px
}
