:root {
    --primary-color: #c03162;
    --secondary-color: #1e091d;
    --tertiary-color: #e4c4b6;
    --highlight-color: #c4639c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*start body style*/


/*start header style*/

header {
    background-color:var(--secondary-color);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* header div {
    display: flex;
    background-color: teal;
    
} */

header h1 {
    color:var(--primary-color);
    font-size: 60px;
    margin-left: 20px;
    margin-top: 20px;
    align-self: center;
    /* background-color: tomato; */
    
}

header nav {
    font-size: 20px;
    /* background-color: purple; */
    align-self:flex-end;
    margin-right: 20px;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 40px;
}

header a {
    text-decoration: none;
    color:var(--primary-color)
}


/* main style start*/
main {
    background-color: var(--tertiary-color);
}

/*hero style start*/

.hero {
    background-image: url("../images/Purple\ and\ Pink\ Sunset.jpg");
    background-size: cover;
    height: 20vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
}

.hero img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.hero h2 {
    color:var(--secondary-color);
    font-size: 40px;
  
    
}

/* content style start*/ 

.content {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 80vh;
    margin: auto;
}

.content-heading {
    background-color: var(--secondary-color);
    width: 60%;
    height: 50px;
    margin: auto;
    font-size: 25px;
    color: var(--primary-color);
    }

/*about me style start*/

.about {
    background-color: var(--primary-color);
    width: 100%;
    height: 20%;
    border-radius: 5px;

     
}

.about p {
    width: 85%;
    margin:auto;
    padding-top: 20px;
    text-align: justify;
}

/*my portfolio style start*/
.portfolio {
    background-color: var(--primary-color);
    width: 100%;
    height: 50%;
    justify-content: space-between;
    border-radius: 5px;
    
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    height: 20px;
    
}

.projects :first-child {
    width: 85%;
    
}

.project-card {
    background-color: var(--highlight-color);
    width: 35%;
    height: 100px;
    border-radius: 5px
}
/*contact info style start*/

.contact {
    background-color: var(--primary-color);
    width: 100%;
    height:20%;
    border-radius: 5px;
}
/*footer style start*/
footer {
    background-color: var(--secondary-color);
    height:5vh;
}
